.bold {
  font-weight: bold;
}

.evenlySpaced5 table {
  table-layout: fixed;
  width: 100%;
}

.evenlySpaced5 th {
  width: 20%;
}

.centerText {
  text-align: center;
}

.centerElement {
  margin-left: auto;
  margin-right: auto;
}

.whiteText {
  color: white;
}

.darkBG {
  background-color: rgb(31, 31, 31);
}

.text20px {
  font-size: 20px;
}

.hoverPointer {
  cursor: pointer;
}

.dataTableContainer {
  overflow-y: scroll;
  width: 1000px;
  height: 750px;
  margin: auto auto auto auto;
}

.fixedHeader th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: rgb(31, 31, 31);
  padding-bottom: 5px;
}

.leftText {
  text-align: left;
}

.noResize {
  resize: none;
}

.noOutline {
  outline: none;
}

.darkerBorder {
  border-color: rgb(31, 31, 31);
}

.roundBorder {
  border-radius: 5px;
}

.thickBorder {
  border-width: 3px;
}

.grayBG {
  background-color: gray;
}

.bottomBorder {
  border-bottom: 3px solid black;
}

.siteFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #00000013; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #444444; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid #444444; /* creates padding around scroll thumb */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}
